[submodule "libs/mach-freetype"]
	path = libs/mach-freetype
	url = https://github.com/hexops/mach-freetype.git
[submodule "libs/zig-sqlite"]
	path = libs/zig-sqlite
	url = https://github.com/vrischmann/zig-sqlite
